
button {
    display: inline-block;
    background-color: #7b38d8;
    padding: 20px;
    width: 200px;
    color: #ffffff;
    text-align: center;
}

.result {
    width: 600px;
    height: 200px;
    background-color: aqua;
}

.player {
    width: 200px;
    height: 200px;
    background-color: rgb(15, 177, 29); 
}

.computer {
    width: 200px;
    height: 200px;
    background-color: rgb(216, 96, 210);
}